$white: #fff;
$black: #000;

$z-index-modal: 1001;

$tablet-bp: 1140px;
$medium-bp: 950px;
$mobile-bp: 830px;
$mobile-min-bp: 640px;
$mobile-critical-bp: 540px;
// //1140
// @include breakpoint($tablet-bp){
            
// }
// //950
// @include breakpoint($medium-bp){
            
// }
// //830
// @include breakpoint($mobile-bp){
            
// }
// //640
// @include breakpoint($mobile-min-bp){
            
// }
// //540
// @include breakpoint($mobile-critical-bp){
            
// }