.intro{
    display: flex;
    padding: 14rem 0;

    @include breakpoint($medium-bp){
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.intro__img{
    width: 50%;

    img{
        display: block;
        margin: auto;

        @include breakpoint($tablet-bp){
            width: 30rem;
            height: 20rem;
        }

        @include breakpoint($mobile-min-bp){
            width: 17rem;
            height: 10rem;
        }
    }

    @include breakpoint($medium-bp){
            margin-bottom: 5rem;
    }
}

.intro__content{
    width: 50%;
    margin-top: -2rem;

    &-title{
        margin-bottom: 6rem;
        font-weight: 500;
        font-size: 4.8rem;

        @include breakpoint($tablet-bp){
            margin-bottom: 5.5rem;
            font-size: 4rem;
        }

        @include breakpoint($mobile-bp){
            margin-bottom: 4rem;
            font-size: 3rem;
        }

        @include breakpoint($mobile-min-bp){
            margin-bottom: 2.5rem;
            font-size: 2rem;
        }
    }

    &-subtitle{
        margin-bottom: 6rem;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.5;
        color: #727272;

        @include breakpoint($tablet-bp){
            font-size: 1.4rem;
            line-height: 1.4;
        }

        @include breakpoint($mobile-bp){
            margin-bottom: 4.5rem;
            font-size: 1.2rem;
        }

        @include breakpoint($mobile-min-bp){
            font-size: 1rem;
        }
    }

    @include breakpoint($medium-bp){
        text-align: center; 
    }
}